@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'system-ui', 'sans-serif';
  --font-heading: 'Poppins', 'system-ui', 'sans-serif';
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #003b02;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00c251;
  }
}

@layer utilities {
  .scroll-mt-24 {
    scroll-margin-top: 6rem;
  }
}

/* chapter 14 */
.chap-h2{
  @apply text-2xl md:text-3xl font-bold text-green-50 mb-4 bg-green-900 rounded-2xl p-1 text-center;
}
.chap-link {
  @apply text-white hover:text-yellow-500 font-medium transition p-2;
}

.text {
  @apply mb-4 text-gray-800;
}

.nav-a-hover {
  @apply block py-3 px-4 text-white hover:font-semibold hover:bg-white  hover:text-green-900 rounded-lg transition-all duration-200 border-l-4 border-transparent hover:border-green-500;
}